yfy-webservice/src/main/alipayBook.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://WebBooking.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebBooking.com/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://WebBooking.com/">
<s:element name="YYSendLab">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="callType" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="xmlMessage" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="YYSendLabResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="YYSendLabResult" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="YYSendLabSoapIn">
<wsdl:part name="parameters" element="tns:YYSendLab"/>
</wsdl:message>
<wsdl:message name="YYSendLabSoapOut">
<wsdl:part name="parameters" element="tns:YYSendLabResponse"/>
</wsdl:message>
<wsdl:portType name="BookSoap">
<wsdl:operation name="YYSendLab">
<wsdl:input message="tns:YYSendLabSoapIn"/>
<wsdl:output message="tns:YYSendLabSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="BookSoap" type="tns:BookSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="YYSendLab">
<soap:operation soapAction="http://WebBooking.com/YYSendLab" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="BookSoap12" type="tns:BookSoap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="YYSendLab">
<soap12:operation soapAction="http://WebBooking.com/YYSendLab" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Book">
<wsdl:port name="BookSoap" binding="tns:BookSoap">
<soap:address location="http://160.160.160.57:9003/WebBooking.asmx"/>
</wsdl:port>
<wsdl:port name="BookSoap12" binding="tns:BookSoap12">
<soap12:address location="http://160.160.160.57:9003/WebBooking.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>